.clearfix {
	@include clearfix;
}
img {
	width: 100%;
}
.no-scroll {
	overflow: hidden;
}
.margin-0 {
	margin: 0;
}
.margin-b-50 {
	margin-bottom: 50px;
}
.italic {
	font-style: italic;
}
.blue-border {
	border: 1px solid $blue;
}
.orange-border {
	border: 1px solid $orange;
}
.single-back {
	text-align: center;
	margin: 50px 0;
	.single-back-button {
		padding: 10px 15px;
		font-size: 1.75em;
		border: 1px solid $orange;
		@include radius(10px);
		color: $orange;
		text-decoration: none;
		@include transition(all .3s);
		&:hover {
			background: $orange;
			color: white;
		}
	}
}
.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 80px;
	a {
		font-size: 1.375em;
		color: black;
		padding: 0 15px;
		@include transition(all .3s);
		text-decoration: none;
		&:hover {
			color: $orange;
		}
	}
	.active-page {
		color: $orange;
		font-size: 1.375em;
		padding: 0 15px;
		@include transition(all .3s);
		text-decoration: none;
	}
}