* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
	padding: 0;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
html {
	height: 100%;
}
// ::-webkit-scrollbar {
//     width: 0;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }
body {
	font-family: 'Roboto', "Noto Sans TC", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Helvetica Neue", "Helvetica", "Microsoft JhengHei", sans-serif;
	height: 100%;
	width: 100%;
	font-size: 12px;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0;
	background: lighten(#e0e0df, 50) url("../images/bg.png") repeat;
}
.content {
	overflow: hidden;
	@include for-mid-foundation-up {
		overflow: auto;
	}
	.content-block {
		width: 100%;
		max-width: 1600px;
		padding: 0 15px;
		margin: 0 auto;
	}
}

