doctype html
html.no-js
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title 設計師之手
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(property='og:site_name', content='')
      meta(property='og:type', content='website')
      meta(property='og:title', content='')
      meta(property='og:url', content='')
      meta(property='og:image', content='')
      meta(property='og:description', content='')
      <meta name="apple-mobile-web-app-title" content="">
      <meta name="application-name" content="">
      <meta name="theme-color" content="#ffffff">
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
      script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
      script(src='js/slick.min.js')
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
      script(src='js/bootstrap.min.js')
      script(src='js/app.js')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
      link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanstc.css')
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
      link(rel='stylesheet', href='css/bootstrap-reboot.css')
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='css/slick.css')
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
      link(rel='stylesheet', href='css/styles.css')
    block styles
    block script

  body
    block header
      include ../components/header.pug

    block main
      block content-wrapper
        block content-title
        block main-content
      block bottom-script