@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  padding: 0;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none; }

html {
  height: 100%; }

body {
  font-family: 'Roboto', "Noto Sans TC", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Helvetica Neue", "Helvetica", "Microsoft JhengHei", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 12px;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin: 0;
  background: white url("../images/bg.png") repeat; }

.content {
  overflow: hidden; }
  @media (min-width: 1024px) {
    .content {
      overflow: auto; } }
  .content .content-block {
    width: 100%;
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

img {
  width: 100%; }

.no-scroll {
  overflow: hidden; }

.margin-0 {
  margin: 0; }

.margin-b-50 {
  margin-bottom: 50px; }

.italic {
  font-style: italic; }

.blue-border {
  border: 1px solid #1c2e6d; }

.orange-border {
  border: 1px solid #ea5412; }

.single-back {
  text-align: center;
  margin: 50px 0; }
  .single-back .single-back-button {
    padding: 10px 15px;
    font-size: 1.75em;
    border: 1px solid #ea5412;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    color: #ea5412;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .single-back .single-back-button:hover {
      background: #ea5412;
      color: white; }

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px; }
  .pagination a {
    font-size: 1.375em;
    color: black;
    padding: 0 15px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none; }
    .pagination a:hover {
      color: #ea5412; }
  .pagination .active-page {
    color: #ea5412;
    font-size: 1.375em;
    padding: 0 15px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none; }

header .top-header {
  background: black;
  width: 100%;
  height: 80px;
  border-bottom: 5px solid #1c2e6d;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between; }
  header .top-header .top-header-left {
    max-width: 860px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left; }
    header .top-header .top-header-left a {
      align-self: flex-start;
      padding: 2em 1em;
      display: none; }
      header .top-header .top-header-left a img {
        height: 30px;
        width: auto; }
        @media (min-width: 1400px) {
          header .top-header .top-header-left a img {
            align-self: center;
            padding: 0 1em; } }
      @media (min-width: 480px) {
        header .top-header .top-header-left a {
          height: 80px; } }
    header .top-header .top-header-left .mobile-logo {
      display: block; }
    @media (min-width: 900px) {
      header .top-header .top-header-left a {
        display: block; }
      header .top-header .top-header-left .mobile-logo {
        display: none; } }
  header .top-header .top-header-right {
    display: flex;
    padding: 2em 1em;
    margin-right: 50px; }
    @media (min-width: 480px) {
      header .top-header .top-header-right {
        padding: 0 6em 0 1em;
        flex-wrap: no-wrap;
        flex-direction: row;
        align-items: flex-start;
        align-items: center; } }
    @media (min-width: 900px) {
      header .top-header .top-header-right {
        padding: 0 1em; } }
  header .top-header .mobile-menu-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 6px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    z-index: 999; }
    @media (min-width: 480px) {
      header .top-header .mobile-menu-button {
        top: 10px;
        right: 1em; } }
    @media (min-width: 900px) {
      header .top-header .mobile-menu-button {
        display: none !important; } }
    header .top-header .mobile-menu-button span {
      display: block;
      position: absolute;
      height: 4px;
      width: 60%;
      left: 0;
      right: 0;
      margin: auto;
      background: white;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      header .top-header .mobile-menu-button span:nth-child(1) {
        top: 17px; }
      header .top-header .mobile-menu-button span:nth-child(2) {
        top: 24px; }
      header .top-header .mobile-menu-button span:nth-child(3) {
        top: 31px; }
    header .top-header .mobile-menu-button:hover span:nth-child(1) {
      top: 15px; }
    header .top-header .mobile-menu-button:hover span:nth-child(3) {
      top: 33px; }
  header .top-header .close span {
    background: black; }
    header .top-header .close span:nth-child(1) {
      top: 24px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    header .top-header .close span:nth-child(2) {
      opacity: 0; }
    header .top-header .close span:nth-child(3) {
      top: 25px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
  header .top-header .close:hover span:nth-child(1) {
    top: 24px;
    -webkit-transform: rotate(495deg);
    -moz-transform: rotate(495deg);
    -o-transform: rotate(495deg);
    transform: rotate(495deg); }
  header .top-header .close:hover span:nth-child(3) {
    top: 25px;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }

header .header-menu {
  display: none;
  max-width: 1440px;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9); }
  header .header-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px; }
    header .header-menu ul li {
      list-style: none;
      width: 100%;
      text-align: center;
      margin-bottom: 20px; }
      header .header-menu ul li a {
        display: inline-block;
        background: none;
        padding: 10px 30px;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        border-bottom: 1px solid #ea5412; }
      header .header-menu ul li .active {
        background: #ea5412;
        color: white; }
  @media (min-width: 900px) {
    header .header-menu {
      display: block;
      margin: 35px auto 0 auto;
      bottom: auto;
      top: auto;
      background: none; }
      header .header-menu ul {
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-around;
        margin-top: 0; }
        header .header-menu ul li {
          width: auto;
          margin-bottom: 0; }
          header .header-menu ul li a {
            display: inline-block;
            background: rgba(255, 255, 255, 0.9);
            border-bottom: none;
            border: 1px solid #ea5412;
            -webkit-border-radius: 35px;
            border-radius: 35px;
            -moz-border-radius: 35px;
            -o-border-radius: 35px;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
            header .header-menu ul li a:hover {
              background: #ea5412;
              color: white; }
          header .header-menu ul li .active {
            background: #ea5412;
            color: white; } }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background: #999999;
  padding: 20px; }
  @media (min-width: 900px) {
    footer {
      align-items: center; } }
  footer .footer-left p {
    display: block;
    color: white;
    margin-bottom: 0;
    font-size: 1.25em;
    margin-right: 10px;
    line-height: 2; }
    footer .footer-left p a {
      color: white;
      text-decoration: none;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      footer .footer-left p a:hover {
        color: #cccccc; }
    @media (min-width: 900px) {
      footer .footer-left p {
        display: inline-block; } }
  footer .footer-right p {
    color: white;
    margin-bottom: 0;
    font-size: 1.25em;
    line-height: 2; }

.top-header-search, .mobile-search .mobile-header-search {
  top: 10px;
  right: 40px;
  display: none; }
  @media (min-width: 480px) {
    .top-header-search, .mobile-search .mobile-header-search {
      position: relative;
      top: auto;
      right: auto;
      display: block; } }
  .top-header-search input, .mobile-search .mobile-header-search input {
    background: none;
    border: 1px solid white;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    height: 30px;
    padding: 0 30px 0 10px;
    color: white;
    position: relative;
    margin: 0 20px; }
  .top-header-search ::placeholder, .mobile-search .mobile-header-search ::placeholder {
    color: white; }
  .top-header-search button, .mobile-search .mobile-header-search button {
    display: block;
    background: url("../images/search-solid.svg") no-repeat right center;
    width: 25px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 7px;
    border: none;
    background-size: cover;
    margin: 0 20px; }

.mobile-search {
  display: block; }
  @media (min-width: 480px) {
    .mobile-search {
      display: none; } }
  .mobile-search .mobile-header-search {
    right: 0;
    top: 10px;
    display: inline-block;
    position: relative; }
    .mobile-search .mobile-header-search input {
      border-color: black; }
    .mobile-search .mobile-header-search ::placeholder {
      color: black; }
    .mobile-search .mobile-header-search button {
      background-image: url("../images/mobile-search-solid.svg"); }

.top-header-work-submit a {
  display: block;
  background: none;
  color: white;
  font-size: 1.55em;
  border: none;
  width: 80px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .top-header-work-submit a:hover {
    color: #cccccc; }

.banner-search {
  position: relative;
  display: inline-block;
  margin-top: 30px; }
  @media (min-width: 480px) {
    .banner-search {
      margin-top: 0; } }
  .banner-search input {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    height: 30px;
    padding: 0 30px 0 10px;
    color: white;
    position: relative;
    margin: 0; }
  .banner-search button {
    display: block;
    background: url("../images/search-solid.svg") no-repeat right center;
    width: 25px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 7px;
    border: none;
    background-size: cover; }

.main-carousel, .theme-carousel {
  position: relative;
  z-index: 1; }
  .main-carousel #index-carousel, .main-carousel #theme-carousel, .theme-carousel #index-carousel, .theme-carousel #theme-carousel {
    position: relative;
    margin-top: 0;
    z-index: 100;
    padding-bottom: 0;
    background: #e0e0df; }
    .main-carousel #index-carousel .carousel-item .d-block, .main-carousel #theme-carousel .carousel-item .d-block, .theme-carousel #index-carousel .carousel-item .d-block, .theme-carousel #theme-carousel .carousel-item .d-block {
      width: 100%;
      padding-bottom: 40%;
      background: center center no-repeat;
      background-size: cover;
      opacity: 0.8; }
      @media (min-width: 480px) {
        .main-carousel #index-carousel .carousel-item .d-block, .main-carousel #theme-carousel .carousel-item .d-block, .theme-carousel #index-carousel .carousel-item .d-block, .theme-carousel #theme-carousel .carousel-item .d-block {
          padding-bottom: 30%; } }
      @media (min-width: 768px) {
        .main-carousel #index-carousel .carousel-item .d-block, .main-carousel #theme-carousel .carousel-item .d-block, .theme-carousel #index-carousel .carousel-item .d-block, .theme-carousel #theme-carousel .carousel-item .d-block {
          padding-bottom: 23%; } }
      .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap {
        position: absolute;
        z-index: 2;
        bottom: 10%;
        left: 10%; }
        .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info {
          background: rgba(255, 255, 255, 0.7);
          padding: 20px;
          margin-bottom: 10px; }
          .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info p, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info p, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info p, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info p {
            font-weight: 700;
            font-style: italic;
            line-height: 1.2;
            margin-bottom: 0;
            color: #752a09; }
          .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year {
            font-size: 1.5em; }
            @media (min-width: 600px) {
              .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year {
                font-size: 2em; } }
            @media (min-width: 768px) {
              .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-year {
                font-size: 3em; } }
          .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date {
            font-size: 1em; }
            @media (min-width: 600px) {
              .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date {
                font-size: 1.5em; } }
            @media (min-width: 768px) {
              .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-date {
                font-size: 2.5em; } }
          .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school {
            font-size: 1.2em;
            color: black;
            font-style: normal; }
            @media (min-width: 480px) {
              .main-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school, .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school, .theme-carousel #index-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info .c-info-school {
                font-size: 1.5em; } }
  .main-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info p, .theme-carousel #theme-carousel .carousel-item .d-block .carousel-info-wrap .carousel-info p {
    font-style: normal; }
  .main-carousel #theme-carousel .no-bg, .theme-carousel #theme-carousel .no-bg {
    background: none; }
  .main-carousel #theme-carousel p.c-info-title, .theme-carousel #theme-carousel p.c-info-title {
    font-size: 3em; }
  .main-carousel #theme-carousel .c-info-year, .theme-carousel #theme-carousel .c-info-year {
    font-size: 1.5em;
    font-style: italic;
    color: #ea5412;
    padding-right: 5px;
    font-weight: 700; }
  .main-carousel #theme-carousel .c-info-tags, .theme-carousel #theme-carousel .c-info-tags {
    font-size: 1.5em;
    color: #ea5412;
    padding: 0 3px;
    font-weight: 700;
    text-decoration: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .main-carousel #theme-carousel .c-info-tags:hover, .theme-carousel #theme-carousel .c-info-tags:hover {
      opacity: .7; }

.works {
  margin-top: 50px;
  position: relative; }
  .works .work-block-wrap {
    overflow: hidden;
    position: relative; }
    .works .work-block-wrap .work-block {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid #b3b3b3;
      overflow: hidden;
      background: white;
      margin-bottom: 50px; }
      .works .work-block-wrap .work-block a {
        display: block;
        color: black;
        text-decoration: none;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .works .work-block-wrap .work-block a:hover {
          color: #666666; }
      .works .work-block-wrap .work-block .work-img {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: 1px solid #b3b3b3; }
        .works .work-block-wrap .work-block .work-img:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.1);
          opacity: 0;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .works .work-block-wrap .work-block .work-img:hover:after {
          opacity: 1; }
      .works .work-block-wrap .work-block .work-info-box {
        position: relative;
        padding: 10px; }
        .works .work-block-wrap .work-block .work-info-box p {
          color: black;
          line-height: 1.2;
          margin-bottom: 0; }
        .works .work-block-wrap .work-block .work-info-box .work-category {
          font-size: 1.5em;
          margin-bottom: 10px; }
        .works .work-block-wrap .work-block .work-info-box .work-student, .works .work-block-wrap .work-block .work-info-box .work-school {
          font-size: 1.125em;
          margin-bottom: 5px; }
        .works .work-block-wrap .work-block .work-info-box .work-school {
          padding-right: 60px; }
        .works .work-block-wrap .work-block .work-info-box .work-count {
          position: absolute;
          right: 10px;
          bottom: 16px; }
          .works .work-block-wrap .work-block .work-info-box .work-count .count-circle {
            width: 12px;
            height: 12px;
            position: absolute;
            left: -20px;
            top: 2px;
            background: #808080;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -o-border-radius: 6px; }
            .works .work-block-wrap .work-block .work-info-box .work-count .count-circle:after {
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              -webkit-border-radius: 2px;
              border-radius: 2px;
              -moz-border-radius: 2px;
              -o-border-radius: 2px;
              background: white;
              position: absolute;
              top: 2px;
              left: 2px; }
            .works .work-block-wrap .work-block .work-info-box .work-count .count-circle:before {
              content: '';
              display: block;
              width: 16px;
              height: 16px;
              -webkit-border-radius: 8px;
              border-radius: 8px;
              -moz-border-radius: 8px;
              -o-border-radius: 8px;
              background: none;
              border: 1px solid #808080;
              position: absolute;
              top: -2px;
              left: -2px; }
    .works .work-block-wrap .work-block-category {
      display: block;
      background: #b3b3b3;
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid #b3b3b3;
      overflow: hidden;
      text-align: center;
      text-decoration: none;
      position: relative;
      margin-bottom: 50px; }
      .works .work-block-wrap .work-block-category .work-block-category-tag {
        width: 20px;
        height: 20px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        background: white;
        position: absolute;
        top: 5px;
        left: 5px; }
      .works .work-block-wrap .work-block-category .work-block-category-p {
        font-size: 4em;
        color: white;
        width: 120px;
        margin: 60px auto 30px auto; }
        @media (min-width: 599px) {
          .works .work-block-wrap .work-block-category .work-block-category-p {
            margin: 60px auto 0 auto; } }
      .works .work-block-wrap .work-block-category .work-block-more {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: auto;
        color: black;
        font-size: 1.25em;
        text-decoration: none;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .works .work-block-wrap .work-block-category .work-block-more:hover {
          color: #ea5412; }
  .works .work-block-slider-wrap {
    position: relative; }
    .works .work-block-slider-wrap .work-block-slider {
      flex-wrap: wrap;
      position: relative; }
      .works .work-block-slider-wrap .work-block-slider .work-block-wrap {
        margin-bottom: 30px; }
        .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block {
          margin-bottom: 10px;
          margin-top: 20px; }
          @media (min-width: 599px) {
            .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block {
              margin-bottom: 0;
              margin-top: 0; } }
          .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block .video-work {
            position: relative; }
            .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block .video-work:before {
              content: "\f144";
              font-family: "Font Awesome 5 Free";
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              font-size: 40vw;
              justify-content: center;
              align-items: center;
              color: rgba(0, 0, 0, 0.5);
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s; }
            .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block .video-work:hover:before {
              color: rgba(0, 0, 0, 0.7); }
            @media (min-width: 480px) {
              .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block .video-work:before {
                font-size: 16vw; } }
            @media (min-width: 768px) {
              .works .work-block-slider-wrap .work-block-slider .work-block-wrap .work-block .video-work:before {
                font-size: 9vw; } }
      .works .work-block-slider-wrap .work-block-slider .margin-b-0 {
        margin-bottom: 0; }
      .works .work-block-slider-wrap .work-block-slider .slick-next {
        right: 15px; }
        @media (min-width: 576px) {
          .works .work-block-slider-wrap .work-block-slider .slick-next {
            right: -50px; } }
        @media (min-width: 768px) {
          .works .work-block-slider-wrap .work-block-slider .slick-next {
            right: -60px; } }
      .works .work-block-slider-wrap .work-block-slider .slick-prev {
        left: 15px;
        display: block;
        z-index: 10;
        top: 45%; }
        @media (min-width: 576px) {
          .works .work-block-slider-wrap .work-block-slider .slick-prev {
            display: none !important; } }
    .works .work-block-slider-wrap .row.school-year-slide {
      padding: 0 8%; }
      .works .work-block-slider-wrap .row.school-year-slide .slick-next {
        right: 15px; }
        @media (min-width: 576px) {
          .works .work-block-slider-wrap .row.school-year-slide .slick-next {
            right: 2%; } }
        @media (min-width: 768px) {
          .works .work-block-slider-wrap .row.school-year-slide .slick-next {
            right: 2%; } }
      .works .work-block-slider-wrap .row.school-year-slide .slick-prev {
        left: 15px;
        display: block !important;
        z-index: 10;
        top: 45%; }
        @media (min-width: 576px) {
          .works .work-block-slider-wrap .row.school-year-slide .slick-prev {
            left: 2%; } }
        @media (min-width: 768px) {
          .works .work-block-slider-wrap .row.school-year-slide .slick-prev {
            left: 2%; } }
  .works .theme-wrap .work-block {
    position: relative;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; }
    .works .theme-wrap .work-block .work-img {
      display: flex;
      justify-content: center; }
      .works .theme-wrap .work-block .work-img:after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        opacity: .7; }
      .works .theme-wrap .work-block .work-img:hover {
        opacity: 1; }
      .works .theme-wrap .work-block .work-img span {
        font-size: 2em;
        color: white;
        z-index: 2;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
        @media (min-width: 480px) {
          .works .theme-wrap .work-block .work-img span {
            font-size: 2.5em; } }
  .works .school-year-name {
    padding: 0 8%; }
    .works .school-year-name p {
      font-size: 1.5em; }
  .works .work-category-arrow {
    position: relative;
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;
    right: auto;
    margin: 10px auto 0 auto;
    opacity: .5;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    @media (min-width: 599px) {
      .works .work-category-arrow {
        position: absolute;
        width: 7%;
        right: 1%; } }
    .works .work-category-arrow:hover {
      opacity: 1; }
    .works .work-category-arrow img {
      width: 80%; }

.banner-img {
  width: 100%;
  padding-bottom: 40%;
  position: relative; }
  @media (min-width: 480px) {
    .banner-img {
      padding-bottom: 30%; } }
  @media (min-width: 768px) {
    .banner-img {
      padding-bottom: 23%; } }
  .banner-img .banner-content {
    max-width: 1600px;
    position: absolute;
    bottom: 30%;
    left: 2em;
    right: 2em;
    display: block;
    text-align: center;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 480px) {
      .banner-img .banner-content {
        bottom: 10%;
        display: flex;
        text-align: left; } }
    .banner-img .banner-content .banner-content-left {
      background: rgba(255, 255, 255, 0.7);
      padding: 20px; }
      .banner-img .banner-content .banner-content-left p.banner-title {
        font-size: 2.5em;
        line-height: 1.2;
        margin-bottom: 0; }
        @media (min-width: 600px) {
          .banner-img .banner-content .banner-content-left p.banner-title {
            font-size: 3em; } }
      .banner-img .banner-content .banner-content-left .banner-tags a, .banner-img .banner-content .banner-content-left .banner-tags span {
        font-size: 1.25em;
        padding: .5em;
        text-decoration: none;
        color: #ea5412;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .banner-img .banner-content .banner-content-left .banner-tags a:hover {
        color: #e59276; }
      .banner-img .banner-content .banner-content-left .banner-tags span {
        font-weight: 700; }

.graphic-banner {
  background: url(../images/yellow-1920x400.png) no-repeat center;
  background-size: cover; }

.about-banner {
  background: url(../images/pattern_orange-1920x400.png) no-repeat center;
  background-size: cover; }

.info-banner {
  background: url(../images/pattern_dark_blue-1920x400.png) no-repeat center;
  background-size: cover; }

.category-banner {
  background: url(../images/pattern_purple-1920x400.png) no-repeat center;
  background-size: cover; }

.school-year-banner {
  background: url(../images/pattern_blue-1920x400.png) no-repeat center;
  background-size: cover; }

.theme-banner {
  background: url(../images/pattern_blue-1920x400.png) no-repeat center;
  background-size: cover; }
  .theme-banner .banner-content-left .banner-title-box {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin-bottom: 10px; }
    .theme-banner .banner-content-left .banner-title-box p {
      line-height: 1;
      margin-bottom: 0;
      color: #752a09; }

.filter, .short-filter {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-right: 0;
  justify-content: space-between; }
  @media (min-width: 576px) {
    .filter, .short-filter {
      padding-right: 50px; } }
  .filter .filter-block, .short-filter .filter-block {
    flex: none;
    width: 100%; }
    @media (min-width: 480px) {
      .filter .filter-block, .short-filter .filter-block {
        width: auto; } }
    @media (min-width: 576px) {
      .filter .filter-block, .short-filter .filter-block {
        flex: 1 0 50%; } }
    @media (min-width: 960px) {
      .filter .filter-block, .short-filter .filter-block {
        flex: 1 0 20%; } }
    .filter .filter-block p, .short-filter .filter-block p {
      margin-bottom: 0;
      margin-left: 10px;
      font-size: 1.5em; }
    .filter .filter-block .filter-dropdown, .short-filter .filter-block .filter-dropdown {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 10px 10px 20px 10px;
      width: calc(100% - 20px);
      min-width: 200px; }
      @media (min-width: 480px) {
        .filter .filter-block .filter-dropdown, .short-filter .filter-block .filter-dropdown {
          width: calc(100% - 30px); } }
      @media (min-width: 960px) {
        .filter .filter-block .filter-dropdown, .short-filter .filter-block .filter-dropdown {
          flex: 1 0 20%; } }
      .filter .filter-block .filter-dropdown select, .short-filter .filter-block .filter-dropdown select {
        width: 100%;
        background: none;
        border: 1px solid #ea5412;
        color: black;
        font-size: inherit;
        padding: .5em;
        padding-right: 2.5em;
        margin: 0;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        text-indent: 0.01px;
        text-overflow: '';
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none; }
        .filter .filter-block .filter-dropdown select::-sm-expand, .short-filter .filter-block .filter-dropdown select::-sm-expand {
          display: none; }
      .filter .filter-block .filter-dropdown:before, .filter .filter-block .filter-dropdown:after, .short-filter .filter-block .filter-dropdown:before, .short-filter .filter-block .filter-dropdown:after {
        content: '';
        position: absolute;
        pointer-events: none; }
      .filter .filter-block .filter-dropdown:after, .short-filter .filter-block .filter-dropdown:after {
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
        color: rgba(0, 0, 0, 0.6); }
      .filter .filter-block .filter-dropdown:before, .short-filter .filter-block .filter-dropdown:before {
        width: 24px;
        height: 32px;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
        background-color: rgba(234, 84, 18, 0.2); }
      .filter .filter-block .filter-dropdown .select2-container .select2-selection, .short-filter .filter-block .filter-dropdown .select2-container .select2-selection {
        background: none;
        border: 1px solid #ea5412;
        cursor: pointer; }
        .filter .filter-block .filter-dropdown .select2-container .select2-selection .select2-selection__choice, .short-filter .filter-block .filter-dropdown .select2-container .select2-selection .select2-selection__choice {
          background: #ea5412;
          border: none;
          color: white; }
          .filter .filter-block .filter-dropdown .select2-container .select2-selection .select2-selection__choice .select2-selection__choice__remove, .short-filter .filter-block .filter-dropdown .select2-container .select2-selection .select2-selection__choice .select2-selection__choice__remove {
            color: white; }
      .filter .filter-block .filter-dropdown .select2-container--default .select2-selection--multiple .select2-selection__rendered, .short-filter .filter-block .filter-dropdown .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        width: 90%; }
  .filter .filter-submit, .short-filter .filter-submit {
    position: relative;
    right: 0;
    bottom: 20px;
    margin: 30px 10px 10px 10px;
    width: 100%; }
    @media (min-width: 576px) {
      .filter .filter-submit, .short-filter .filter-submit {
        position: absolute;
        margin: 0;
        width: auto; } }
    .filter .filter-submit button, .short-filter .filter-submit button {
      width: 100%;
      border: 1px solid #ea5412;
      background: #ea5412;
      color: white;
      padding: 5px 10px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .filter .filter-submit button:hover, .short-filter .filter-submit button:hover {
        background: none;
        color: black; }
      @media (min-width: 576px) {
        .filter .filter-submit button, .short-filter .filter-submit button {
          width: 50px; } }

.school-title-wrap, .schools-wrap .school-region, .schools-wrap .school-trend {
  width: 100%;
  padding: 0 8%;
  margin-top: 40px; }
  .school-title-wrap .school-title span, .schools-wrap .school-region .school-title span, .schools-wrap .school-trend .school-title span {
    padding: 0 15px 0 0;
    font-size: 2em; }
  .school-title-wrap .school-title .school-title-divider, .schools-wrap .school-region .school-title .school-title-divider, .schools-wrap .school-trend .school-title .school-title-divider {
    border-left: 1px solid black; }
  .school-title-wrap .school-title .school-title-name, .schools-wrap .school-region .school-title .school-title-name, .schools-wrap .school-trend .school-title .school-title-name {
    font-size: 1.5em;
    color: #ea5412; }
  .school-title-wrap .school-title-year, .schools-wrap .school-region .school-title-year, .schools-wrap .school-trend .school-title-year {
    margin-top: 20px; }
    .school-title-wrap .school-title-year span, .schools-wrap .school-region .school-title-year span, .schools-wrap .school-trend .school-title-year span {
      font-size: 1.5em;
      padding-right: 5px; }
      .school-title-wrap .school-title-year span:first-child, .schools-wrap .school-region .school-title-year span:first-child, .schools-wrap .school-trend .school-title-year span:first-child {
        font-size: 2em;
        font-weight: 700; }

.schools-wrap {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 640px) {
    .schools-wrap {
      flex-wrap: nowrap; } }
  .schools-wrap .school-region {
    width: 100%;
    padding: 0 1%; }
    .schools-wrap .school-region .school-region-block {
      margin-bottom: 50px; }
      .schools-wrap .school-region .school-region-block .school-title {
        margin: 0 10px 20px 10px; }
      .schools-wrap .school-region .school-region-block .schools-block {
        display: flex;
        flex-wrap: wrap; }
        .schools-wrap .school-region .school-region-block .schools-block a {
          background: white;
          text-decoration: none;
          padding: 15px 20px;
          border: 1px solid #b3b3b3;
          font-size: 1.25em;
          color: black;
          margin: 10px;
          flex: 1 0 30%;
          text-align: center;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
          .schools-wrap .school-region .school-region-block .schools-block a:hover {
            color: #ea5412;
            border-color: #ea5412; }
        .schools-wrap .school-region .school-region-block .schools-block .is-empty {
          height: 0;
          margin: 0 10px;
          padding: 0;
          border: none; }
  .schools-wrap .school-trend {
    width: 100%;
    padding: 0 1%; }
    @media (min-width: 640px) {
      .schools-wrap .school-trend {
        width: 40%; } }
    .schools-wrap .school-trend .school-title {
      margin: 0 10px 20px 0; }
    .schools-wrap .school-trend .school-trend-block {
      margin-bottom: 40px; }
      .schools-wrap .school-trend .school-trend-block .school-trend-name {
        font-size: 1.375em;
        padding-top: 5px; }
      .schools-wrap .school-trend .school-trend-block .school-trend-img-block {
        display: flex;
        position: relative; }
        .schools-wrap .school-trend .school-trend-block .school-trend-img-block .school-trend-img {
          flex: 1 0 30%;
          padding-bottom: 35%;
          background: center no-repeat;
          background-size: cover;
          position: relative; }
          .schools-wrap .school-trend .school-trend-block .school-trend-img-block .school-trend-img:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
          .schools-wrap .school-trend .school-trend-block .school-trend-img-block .school-trend-img:hover:after {
            opacity: 1; }

.work-single-info-block {
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background: white; }
  .work-single-info-block .work-title-info-block {
    max-width: 1440px;
    width: 100%;
    margin: 40px auto;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .work-single-info-block .work-title-info-block .work-title-p {
      display: block;
      width: 100%; }
      @media (min-width: 480px) {
        .work-single-info-block .work-title-info-block .work-title-p {
          width: calc(100% - 70px);
          display: flex; } }
      .work-single-info-block .work-title-info-block .work-title-p p {
        font-size: 2em;
        font-weight: 700;
        margin-right: 40px;
        margin-bottom: 10px; }
        @media (min-width: 480px) {
          .work-single-info-block .work-title-info-block .work-title-p p {
            margin-bottom: 0; } }
      .work-single-info-block .work-title-info-block .work-title-p a {
        min-width: 80px;
        align-self: center;
        font-size: 1.125em;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding: 5px 10px;
        margin: 0 10px 0 0;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -o-border-radius: 15px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        @media (min-width: 480px) {
          .work-single-info-block .work-title-info-block .work-title-p a {
            margin: 0 5px; } }
        .work-single-info-block .work-title-info-block .work-title-p a:hover {
          color: white; }
      .work-single-info-block .work-title-info-block .work-title-p .blue-border:hover {
        background: #1c2e6d; }
      .work-single-info-block .work-title-info-block .work-title-p .orange-border:hover {
        background: #ea5412; }
    .work-single-info-block .work-title-info-block .work-title-view {
      align-self: center; }
      .work-single-info-block .work-title-info-block .work-title-view .work-count {
        position: relative;
        margin-bottom: 0;
        margin-top: 10px;
        margin-left: 20px; }
        @media (min-width: 480px) {
          .work-single-info-block .work-title-info-block .work-title-view .work-count {
            margin-top: 9; } }
        .work-single-info-block .work-title-info-block .work-title-view .work-count .count-circle {
          width: 12px;
          height: 12px;
          position: absolute;
          left: -20px;
          top: 4px;
          background: #808080;
          -webkit-border-radius: 6px;
          border-radius: 6px;
          -moz-border-radius: 6px;
          -o-border-radius: 6px; }
          .work-single-info-block .work-title-info-block .work-title-view .work-count .count-circle:after {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -o-border-radius: 2px;
            background: white;
            position: absolute;
            top: 2px;
            left: 2px; }
          .work-single-info-block .work-title-info-block .work-title-view .work-count .count-circle:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -o-border-radius: 8px;
            background: none;
            border: 1px solid #808080;
            position: absolute;
            top: -2px;
            left: -2px; }
  .work-single-info-block .work-info-block {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    grid-template-rows: auto;
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 40px; }
    @media (min-width: 640px) {
      .work-single-info-block .work-info-block {
        grid-template-columns: 48% 48%;
        grid-gap: 2%; } }
    .work-single-info-block .work-info-block .work-grid {
      margin: 1em;
      border-top: 1px dashed #b3b3b3;
      padding-top: 10px; }
      .work-single-info-block .work-info-block .work-grid:first-child {
        border-top: none; }
      .work-single-info-block .work-info-block .work-grid:nth-child(2) {
        border-top: 1px dashed #b3b3b3; }
        @media (min-width: 640px) {
          .work-single-info-block .work-info-block .work-grid:nth-child(2) {
            border-top: none; } }
      .work-single-info-block .work-info-block .work-grid p, .work-single-info-block .work-info-block .work-grid a {
        font-size: 1.5em;
        display: inline-block;
        width: calc(100% - 120px);
        vertical-align: top;
        margin-bottom: 0; }
      .work-single-info-block .work-info-block .work-grid a {
        color: #1c2e6d;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .work-single-info-block .work-info-block .work-grid a:hover {
          text-decoration: none;
          color: #506dd2; }
      .work-single-info-block .work-info-block .work-grid .work-grid-title {
        width: 100px;
        padding: 0 10px 0 0;
        border-right: 1px solid black;
        margin-right: 10px;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: justify; }
      .work-single-info-block .work-info-block .work-grid .work-grid-download {
        padding-bottom: 15px; }
    .work-single-info-block .work-info-block .author-grid {
      grid-column: auto;
      grid-row: auto; }
      @media (min-width: 640px) {
        .work-single-info-block .work-info-block .author-grid {
          grid-column: 1;
          grid-row: 1 / 3; } }
    .work-single-info-block .work-info-block .des-grid {
      grid-column: auto;
      grid-row: auto; }
      @media (min-width: 640px) {
        .work-single-info-block .work-info-block .des-grid {
          grid-column: 2;
          grid-row: 3 / 5; } }
    .work-single-info-block .work-info-block .note-grid {
      grid-column: auto;
      grid-row: auto; }
      @media (min-width: 640px) {
        .work-single-info-block .work-info-block .note-grid {
          grid-column: 2;
          grid-row: 5 / 7; } }
    .work-single-info-block .work-info-block .last-grid img {
      width: 76px; }
    .work-single-info-block .work-info-block .last-grid .work-grid-title {
      width: 160px; }
  .work-single-info-block .work-info-img {
    margin-top: 40px;
    padding: 0 1em; }
    .work-single-info-block .work-info-img img {
      margin: 5px 0;
      width: 100%; }
    .work-single-info-block .work-info-img video {
      width: 100%; }

.about-block {
  margin: 40px 0;
  padding: 0 1em; }
  .about-block h2 {
    text-align: center;
    margin: 40px 0; }
  .about-block img {
    margin: 20px 0; }
  .about-block p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify; }

.info {
  margin: 40px 0;
  padding: 0 1em; }
  .info .info-block-wrap {
    overflow: hidden;
    position: relative; }
    .info .info-block-wrap .info-block {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid #b3b3b3;
      overflow: hidden;
      background: white;
      margin-bottom: 50px;
      position: relative; }
      .info .info-block-wrap .info-block a {
        display: block;
        color: black;
        text-decoration: none;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .info .info-block-wrap .info-block a:hover {
          color: #666666; }
      .info .info-block-wrap .info-block .info-img {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
        .info .info-block-wrap .info-block .info-img:after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.1);
          opacity: 0;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s; }
        .info .info-block-wrap .info-block .info-img:hover:after {
          opacity: 1; }
      .info .info-block-wrap .info-block .info-p-box {
        position: relative;
        padding: 10px 10px 20px 10px; }
        .info .info-block-wrap .info-block .info-p-box p {
          color: black;
          line-height: 1.2;
          margin-bottom: 0; }
        .info .info-block-wrap .info-block .info-p-box .info-title {
          font-size: 1.5em;
          margin-bottom: 10px;
          line-height: 1.5; }
        .info .info-block-wrap .info-block .info-p-box .info-text {
          font-size: 1.125em;
          margin-bottom: 5px;
          line-height: 1.5;
          text-align: justify; }
      .info .info-block-wrap .info-block .info-more {
        position: absolute;
        right: 10px;
        bottom: 10px; }
