.banner-img {
	width: 100%;
	padding-bottom: 40%;
	position: relative;
	@include for-480-only {
		padding-bottom: 30%;
	}
	@include for-768-up {
		padding-bottom: 23%;
	}
	.banner-content {
		max-width: 1600px;
		position: absolute;
		bottom: 30%;
		left: 2em;
		right: 2em;
		display: block;
		text-align: center;
		justify-content: space-between;
		align-items: center;
		@include for-480-only {
			bottom: 10%;
			display: flex;
			text-align: left;
		}
		.banner-content-left {
			background: rgba(255,255,255,.7);
			padding: 20px;
			p.banner-title {
				font-size: 2.5em;
				line-height: 1.2;
				margin-bottom: 0;
				@include for-tablet-portrait-up {
					font-size: 3em;
				}
			}
			.banner-tags {
				a, span {
					font-size: 1.25em;
					padding: .5em;
					text-decoration: none;
					color: $orange;
					@include transition(all .3s);
				}
				a {
					&:hover {
						color: $lightOrange;
					}
				}
				span {
					font-weight: $font-bold;
				}
			}
		}
		.banner-content-right {

		}
	}
}
.graphic-banner {
	background: url(../images/yellow-1920x400.png) no-repeat center;
	background-size: cover;
}
.about-banner {
	background: url(../images/pattern_orange-1920x400.png) no-repeat center;
	background-size: cover;
}
.info-banner {
	background: url(../images/pattern_dark_blue-1920x400.png) no-repeat center;
	background-size: cover;
}
.category-banner {
	background: url(../images/pattern_purple-1920x400.png) no-repeat center;
	background-size: cover;
}
.school-year-banner {
	background: url(../images/pattern_blue-1920x400.png) no-repeat center;
	background-size: cover;
}
.theme-banner {
	background: url(../images/pattern_blue-1920x400.png) no-repeat center;
	background-size: cover;
	.banner-content-left {
		.banner-title-box {
			background: rgba(255,255,255,.7);
			padding: 5px;
			margin-bottom: 10px;
			p {
				line-height: 1;
				margin-bottom: 0;
				color: #752a09;
			}
		}
	}
}