.main-carousel, .theme-carousel {
	position: relative;
	z-index: 1;
	#index-carousel, #theme-carousel {
		position: relative;
		margin-top: 0;
		z-index: 100;
		padding-bottom: 0;
		background: #e0e0df;
		.carousel-item {
			.d-block {
				width: 100%;
				// height: 200px;
				padding-bottom: 40%;
				background: center center no-repeat;
				background-size: cover;
				opacity: 0.8;
				@include for-480-only {
					padding-bottom: 30%;
				}
				@include for-768-up {
					padding-bottom: 23%;
				}
				.carousel-info-wrap {
					position: absolute;
					z-index: 2;
					bottom: 10%;
					left: 10%;
					.carousel-info {
						background: rgba(255,255,255,.7);
						padding: 20px;
						margin-bottom: 10px;
						p {
							font-weight: $font-bold;
							font-style: italic;
							line-height: 1.2;
							margin-bottom: 0;
							color: #752a09;
						}
						.c-info-year {
							font-size: 1.5em;
							@include for-tablet-portrait-up {
								font-size: 2em;
							}
							@include for-768-up {
								font-size: 3em;
							}
						}
						.c-info-date {
							font-size: 1em;
							@include for-tablet-portrait-up {
								font-size: 1.5em;
							}
							@include for-768-up {
								font-size: 2.5em;
							}
						}
						.c-info-school {
							font-size: 1.2em;
							color: black;
							font-style: normal;
							@include for-480-only {
								font-size: 1.5em;
							}
						}
					}
				}
			}
		}
	}
	#theme-carousel {
		.carousel-item .d-block .carousel-info-wrap .carousel-info p {
			font-style: normal;
		}
		.no-bg {
			background: none;
		}
		p.c-info-title {
			font-size: 3em;
		}
		.c-info-year {
			font-size: 1.5em;
			font-style: italic;
			color: $orange;
			padding-right: 5px;
			font-weight: $font-bold;
		}
		.c-info-tags {
			font-size: 1.5em;
			color: $orange;
			padding: 0 3px;
			font-weight: $font-bold;
			text-decoration: none;
			@include transition(all .3s);
			&:hover {
				opacity: .7;
			}
		}
	}
}
