.filter, .short-filter {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-right: 0;
	justify-content: space-between;
	@include for-bootsrap-sm {
		padding-right: 50px;
	}
	.filter-block {
		flex: none;
		width: 100%;
		@include for-480-only {
			width: auto;
		}
		@include for-bootsrap-sm {
			flex: 1 0 50%;
		}
		@include for-960 {
			flex: 1 0 20%;
		}
		p {
			margin-bottom: 0;
			margin-left: 10px;
			font-size: 1.5em;
		}
		.filter-dropdown {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 10px 10px 20px 10px;
			width: calc(100% - 20px);
			min-width: 200px;
			@include for-480-only {
				width: calc(100% - 30px);
			}
			@include for-960 {
				flex: 1 0 20%;
			}
			select {
				width: 100%;
				background: none;
				border: 1px solid $orange;
				color: black;
				font-size: inherit;
				padding: .5em;
				padding-right: 2.5em;
				margin: 0;
				@include radius(3px);
				text-indent: 0.01px;
				text-overflow: '';
				cursor: pointer;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
				&::-sm-expand {
					display: none;
				}
			}
			&:before, &:after {
				content: '';
				position: absolute;
				pointer-events: none;
			}
			&:after {
				content: "\25BC";
				height: 1em;
				font-size: .625em;
				line-height: 1;
				right: 1.2em;
				top: 50%;
				margin-top: -.5em;
				color: rgba(0,0,0,.6);
			}
			&:before {
				width: 24px;
				height: 32px;
				right: 0;
				top: 0;
				bottom: 0;
				border-radius: 0 3px 3px 0;
				background-color: rgba(234,84,18,.2);
			}
			.select2-container {
				.select2-selection {
					background: none;
					border: 1px solid $orange;
					cursor: pointer;
					.select2-selection__choice {
						background: $orange;
						border: none;
						color: white;
						.select2-selection__choice__remove {
							color: white;
						}
					}
				}
			}
			.select2-container--default .select2-selection--multiple .select2-selection__rendered {
				width: 90%;
			}
		}
	}
	.filter-submit {
		position: relative;
		right: 0;
		bottom: 20px;
		margin: 30px 10px 10px 10px;
		width: 100%;
		@include for-bootsrap-sm {
			position: absolute;
			margin: 0;
			width: auto;
		}
		button {
			width: 100%;
			border: 1px solid $orange;
			background: $orange;
			color: white;
			padding: 5px 10px;
			@include radius(3px);
			@include transition(all .3s);
			&:hover {
				background: none;
				color: black;
			}
			@include for-bootsrap-sm {
				width: 50px;
			}
		}
	}
}