footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	background: #999999;
	padding: 20px;

	@include for-tablet-landscape-up {
		align-items: center;
	}
	.footer-left {
		p {
			display: block;
			color: white;
			margin-bottom: 0;
			font-size: 1.25em;
			margin-right: 10px;
			line-height: 2;
			a {
				color: white;
				text-decoration: none;
				@include transition(all .3s);
				&:hover {
					color: $grey;
				}
			}
			@include for-tablet-landscape-up {
				display: inline-block;
			}
		}
	}
	.footer-right {
		p {
			color: white;
			margin-bottom: 0;
			font-size: 1.25em;
			line-height: 2;
		}
	}
}