header {
	.top-header {
		background: black;
		width: 100%;
		height: 80px;
		border-bottom: 5px solid $blue;
		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-between;
		.top-header-left {
			max-width: 860px;
			width: 100%;
			height: 100%;
			display: flex;
			text-align: left;
			a {
				align-self: flex-start;
				padding: 2em 1em;
				display: none;
				img {
					height: 30px;
					width: auto;
					@include for-mid-desktop-up {
						align-self: center;
						padding: 0 1em;
					}
				}
				@include for-480-only {
					height: 80px;
				}
			}
			.mobile-logo {
				display: block;
			}
			@include for-tablet-landscape-up {
				a {
					display: block;
				}
				.mobile-logo {
					display: none;
				}
			}
		}
		.top-header-right {
			display: flex;
			// flex-wrap: wrap;
			padding: 2em 1em;
			margin-right: 50px;
			@include for-480-only {
				padding: 0 6em 0 1em;
				flex-wrap: no-wrap;
				flex-direction: row;
				align-items: flex-start;
				align-items: center;
			}
			@include for-tablet-landscape-up {
				padding: 0 1em;
			}
		}
		.mobile-menu-button {
			width: 50px;
			height: 50px;
			position: absolute;
			right: 6px;
			top: 10px;
			background: none;
			border: none;
			cursor: pointer;
			opacity: 1;
			z-index: 999;
			@include for-480-only {
				top: 10px;
				right: 1em;
			}
			@include for-tablet-landscape-up {
				display: none!important;
			}
			span {
				display: block;
				position: absolute;
				height: 4px;
				width: 60%;
				left: 0;
				right: 0;
				margin: auto;
				background: white;
				@include radius(4px);
				@include transition(all .3s);
				&:nth-child(1) {
					top: 17px;
				}
				&:nth-child(2) {
					top: 24px;
				}
				&:nth-child(3) {
					top: 31px;
				}
			}
			&:hover {
				span:nth-child(1) {
					top: 15px;
				}
				span:nth-child(3) {
					top: 33px;
				}
			}
		}
		.close {
			span {
				background: black;
				&:nth-child(1) {
					top: 24px;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					top: 25px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}
			}
			&:hover {
				span:nth-child(1) {
					top: 24px;
					-webkit-transform: rotate(495deg);
					-moz-transform: rotate(495deg);
					-o-transform: rotate(495deg);
					transform: rotate(495deg);
				}
				span:nth-child(3) {
					top: 25px;
					-webkit-transform: rotate(225deg);
					-moz-transform: rotate(225deg);
					-o-transform: rotate(225deg);
					transform: rotate(225deg);
				}
			}
		}
	}
	.header-menu {
		display: none;
		max-width: 1440px;
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 99;
		bottom: 0;
		top: 0;
		background: rgba(255,255,255,.9);
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-top: 30px;
			li {
				list-style: none;
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
				a {
					display: inline-block;
					background: none;
					padding: 10px 30px;
					text-decoration: none;
					color: black;
					font-size: 1.5em;
					border-bottom: 1px solid #ea5412;
				}
				.active {
					background: #ea5412;
					color: white;
				}
			}
		}
		@include for-tablet-landscape-up {
			display: block;
			margin: 35px auto 0 auto;
			bottom: auto;
			top: auto;
			background: none;
			ul {
				display: flex;
				flex-wrap: no-wrap;
				justify-content: space-around;
				margin-top: 0;
				li {
					width: auto;
					margin-bottom: 0;
					a {
						display: inline-block;
						background: rgba(255,255,255,.9);
						border-bottom: none;
						border: 1px solid $orange;
						@include radius(35px);
						@include transition(all .3s);
						&:hover {
							background: #ea5412;
							color: white;
						}
					}
					.active {
						background: #ea5412;
						color: white;
					}
				}
			}
		}
	}
}