.top-header-search {
	top: 10px;
	right: 40px;
	display: none;
	@include for-480-only {
		position: relative;
		top: auto;
		right: auto;
		display: block;
	}
	input {
		background: none;
		border: 1px solid white;
		@include radius(15px);
		height: 30px;
		padding: 0 30px 0 10px;
		color: white;
		position: relative;
		margin: 0 20px;
	}
	::placeholder {
		color: white;
	}
	button {
		display: block;
		background: url("../images/search-solid.svg") no-repeat right center;
		width: 25px;
		height: 15px;
		position: absolute;
		right: 5px;
		top: 7px;
		border: none;
		background-size: cover;
		margin: 0 20px;
	}
}
.mobile-search {
	display: block;
	@include for-480-only {
		display: none;
	}
	.mobile-header-search {
		@extend .top-header-search;
		right: 0;
		top: 10px;
		display: inline-block;
		position: relative;
		input {
			border-color: black;
		}
		::placeholder {
			color: black;
		}
		button {
			background-image: url("../images/mobile-search-solid.svg");
		}
	}
}
.top-header-work-submit {
	a {
		display: block;
		background: none;
		color: white;
		font-size: 1.55em;
		border: none;
		width: 80px;
		@include transition(all .3s);
		&:hover {
			color: $grey;
		}
	}
}
.banner-search {
	position: relative;
	display: inline-block;
	margin-top: 30px;
	@include for-480-only {
		margin-top: 0;
	}
	input {
		background: rgba(255,255,255,.4);
		border: 1px solid white;
		@include radius(15px);
		height: 30px;
		padding: 0 30px 0 10px;
		color: white;
		position: relative;
		margin: 0;
	}
	button {
		display: block;
		background: url("../images/search-solid.svg") no-repeat right center;
		width: 25px;
		height: 15px;
		position: absolute;
		right: 5px;
		top: 7px;
		border: none;
		background-size: cover;
	}
}