.works {
	margin-top: 50px;
	position: relative;
	.work-block-wrap {
		overflow: hidden;
		position: relative;
		.work-block {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border: 1px solid $border;
			overflow: hidden;
			background: white;
			margin-bottom: 50px;
			a {
				display: block;
				color: black;
				text-decoration: none;
				@include transition(all .3s);
				&:hover {
					color: $darkGrey;
				}
			}
			.work-img {
				width: 100%;
				padding-bottom: 100%;
				position: relative;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				border-bottom: 1px solid $border;
				&:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,.1);
					opacity: 0;
					@include transition(all .3s);
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
			.work-info-box {
				position: relative;
				padding: 10px;
				p {
					color: black;
					line-height: 1.2;
					margin-bottom: 0;
				}
				.work-category {
					font-size: 1.5em;
					margin-bottom: 10px;
				}
				.work-student, .work-school {
					font-size: 1.125em;
					margin-bottom: 5px;
				}
				.work-school {
					padding-right: 60px;
				}
				.work-count {
					position: absolute;
					right: 10px;
					bottom: 16px;
					.count-circle {
						width: 12px;
						height: 12px;
						position: absolute;
						left: -20px;
						top: 2px;
						background: #808080;
						@include radius(6px);
						&:after {
							content: '';
							display: block;
							width: 4px;
							height: 4px;
							@include radius(2px);
							background: white;
							position: absolute;
							top: 2px;
							left: 2px;
						}
						&:before {
							content: '';
							display: block;
							width: 16px;
							height: 16px;
							@include radius(8px);
							background: none;
							border: 1px solid #808080;
							position: absolute;
							top: -2px;
							left: -2px;
						}
					}
				}
			}
		}
		.work-block-category {
			display: block;
			background: $border;
			width: 100%;
			height: 100%;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border: 1px solid $border;
			overflow: hidden;
			text-align: center;
			text-decoration: none;
			position: relative;
			margin-bottom: 50px;
			.work-block-category-tag {
				width: 20px;
				height: 20px;
				@include radius(10px);
				background: white;
				position: absolute;
				top: 5px;
				left: 5px;
			}
			.work-block-category-p {
				font-size: 4em;
				color: white;
				width: 120px;
				margin: 60px auto 30px auto;
				@include for-phone-only {
					margin: 60px auto 0 auto;
				}
			}
			.work-block-more {
				position: absolute;
				bottom: 30px;
				left: 0;
				right: 0;
				margin: auto;
				color: black;
				font-size: 1.25em;
				text-decoration: none;
				@include transition(all .3s);
				&:hover {
					color: $orange;
				}
			}
		}

	}
	.work-block-slider-wrap {
		position: relative;
		.work-block-slider {
			flex-wrap: wrap;
			position: relative;
			.work-block-wrap {
				margin-bottom: 30px;
				.work-block {
					margin-bottom: 10px;
					margin-top: 20px;
					@include for-phone-only {
						margin-bottom: 0;
						margin-top: 0;
					}
					.video-work {
						position: relative;
						&:before {
							content: "\f144";
	    					font-family: "Font Awesome 5 Free";
							display: flex;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							margin: auto;
							font-size: 40vw;
							justify-content: center;
							align-items: center;
							color: rgba(0,0,0, .5);
							@include transition(all .3s);
						}
						&:hover {
							&:before {
								color: rgba(0,0,0, .7);
							}
						}
						@include for-480-only {
							&:before {
								font-size: 16vw;
							}
						}
						@include for-768-up {
							&:before {
								font-size: 9vw;
							}
						}
					}
				}
			}
			.margin-b-0 {
				margin-bottom: 0;
			}
			.slick-next {
				right: 15px;
				@include for-bootsrap-sm {
					right: -50px;
				}
				@include for-768-up {
					right: -60px;
				}
			}
			.slick-prev {
				left: 15px;
				display: block;
				z-index: 10;
				top: 45%;
				@include for-bootsrap-sm {
					display: none!important;
				}
			}
		}
		.row.school-year-slide {
			padding: 0 8%;
			.slick-next {
				right: 15px;
				@include for-bootsrap-sm {
					right: 2%;
				}
				@include for-768-up {
					right: 2%;
				}
			}
			.slick-prev {
				left: 15px;
				display: block!important;
				z-index: 10;
				top: 45%;
				@include for-bootsrap-sm {
					left: 2%;
				}
				@include for-768-up {
					left: 2%;
				}
			}
		}
	}
	.theme-wrap {
		.work-block {
			position: relative;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			.work-img {
				display: flex;
				justify-content: center;
				&:after {
					position: absolute;
					content: '';
					display: block;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,.7);
					opacity: .7;
				}
				&:hover {
					opacity: 1;
				}
				span {
					font-size: 2em;
					color: white;
					z-index: 2;
					text-align: center;
					position: absolute;
					left: 0;
					right: 0;
					margin-right: auto;
					margin-left: auto;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					@include for-480-only {
						font-size: 2.5em;
					}
				}
			}
		}
	}
	.school-year-name {
		padding: 0 8%;
		p {
			font-size: 1.5em;
		}
	}
	.work-category-arrow {
		position: relative;
		height: 100%;
		display: flex;
		width: 50%;
		justify-content: center;
		right: auto;
		margin: 10px auto 0 auto;
		opacity: .5;
		@include transition(all .3s);
		@include for-phone-only {
			position: absolute;
			width: 7%;
			right: 1%;
		}
		&:hover {
			opacity: 1;
		}
		img {
			width: 80%;
		}
	}
}