
<div class="carousel slide" id="index-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#index-carousel" data--slide-to="0"></li>
    <li class="active" data-target="#index-carousel" data--slide-to="1"></li>
    <li class="active" data-target="#index-carousel" data--slide-to="2"></li>
  </ol>
  <div class="carousel-inner"><a class="carousel-item active" href="#">
      <div class="d-block w-100" style="background-image: url('images/carousel1.jpg');" alt="slide1">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-year">中原大學商業設計系畢業展</p>
            <p class="c-info-date">作者</p>
          </div>
        </div>
      </div></a><a class="carousel-item" href="#">
      <div class="d-block w-100" style="background-image: url('images/carousel2.jpg');" alt="slide2">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-year">中原大學商業設計系畢業展</p>
            <p class="c-info-date">作者</p>
          </div>
        </div>
      </div></a><a class="carousel-item" href="#">
      <div class="d-block w-100" style="background-image: url('images/carousel3.jpg');" alt="slide3">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-year">中原大學商業設計系畢業展</p>
            <p class="c-info-date">作者</p>
          </div>
        </div>
      </div></a>
  </div><a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
</div>