
<header>
  <div class="top-header">
    <div class="top-header-left"><a href="index.html"><img src="images/logo.svg"/></a><a class="mobile-logo" href="index.html"><img src="images/mobile-logo.svg"/></a></div>
    <div class="top-header-right">
      <div class="top-header-search">
        <input type="text" placeholder="關鍵字檢索"/>
        <button type="submit"></button>
      </div>
      <div class="top-header-work-submit"><a href="#">作品上傳</a></div>
    </div>
    <div class="mobile-menu-button"><span></span><span></span><span></span></div>
  </div>
  <nav class="header-menu">
    <ul>
      <li class="mobile-search">
        <div class="mobile-header-search">
          <input type="text" placeholder="關鍵字檢索"/>
          <button type="submit"></button>
        </div>
      </li>
      <li><a href="new-work.html" menu-tag="news">作品新訊</a></li>
      <li><a href="theme.html" menu-tag="theme">主題特展</a></li>
      <li><a href="school-all.html" menu-tag="school">收錄系所</a></li>
      <li><a href="category.html" menu-tag="category">作品類型</a></li>
      <li><a href="info.html" menu-tag="info">產學情報</a></li>
      <li><a href="about.html" menu-tag="about">關於我們</a></li>
    </ul>
  </nav>
</header>