
<div class="carousel slide" id="theme-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active" data-target="#theme-carousel" data--slide-to="0"></li>
    <li class="active" data-target="#theme-carousel" data--slide-to="1"></li>
    <li class="active" data-target="#theme-carousel" data--slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100" style="background-image: url('images/carousel1.jpg');" alt="slide1">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-title">年度精選</p>
            <p class="c-info-title">包裝設計特展</p>
          </div>
          <div class="carousel-info-no-bg"><span class="c-info-year">2019 01/01-03/31</span></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100" style="background-image: url('images/carousel1.jpg');" alt="slide1">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-title">年度精選</p>
            <p class="c-info-title">包裝設計特展</p>
          </div>
          <div class="carousel-info-no-bg"><span class="c-info-year">2020 01/01-03/31</span></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100" style="background-image: url('images/carousel1.jpg');" alt="slide1">
        <div class="carousel-info-wrap">
          <div class="carousel-info">
            <p class="c-info-title">年度精選</p>
            <p class="c-info-title">包裝設計特展</p>
          </div>
          <div class="carousel-info-no-bg"><span class="c-info-year">2021 01/01-03/31</span></div>
        </div>
      </div>
    </div>
  </div><a class="carousel-control-prev" href="#theme-carousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#theme-carousel" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
</div>