extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			about();
		});
block main-content
	.content(page-tag="about")
		.banner-img.about-banner
			.banner-content
				.banner-content-left
					p.banner-title 關於我們
		.content-block
			.about-block
				h2 設計師之手
				img(src="images/carousel1.jpg")
				p 「設計師之手-數位設計展示平台」由國立公共資訊圖書館自行建置，以成立設計創作展示平台為規劃主軸，將國內學生歷年創作之優秀作品建立數位典藏資料庫，提供讀者欣賞瀏覽及教學觀摩，透過平台建立，讓學生創作發揮最大價值，讓更多人看見臺灣創作動能。
				p 目前已與40餘所設計系所簽訂合作備忘錄，收錄國立臺北科技大學、國立雲林科技大學、國立臺中科技大學、國立臺中教育大學系、國立臺灣師範大學、國立臺南藝術大學、朝陽科技大學、嶺東科技大學、建國科技大學、南開科技大學、大葉大學、南台科技大學、臺南應用科技大學及第一屆台中市威達盃青少年創意影片等超過500件作品，類型包含模型、紙本、動畫互動多媒體及影片等，未來將能持續與全國設計相關系所接洽合作。
	include components/footer.pug