extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			category();
		});
block main-content
	.content(page-tag="category")
		.banner-img.category-banner
			.banner-content
				.banner-content-left
					p.banner-title 作品類型
		.content-block
			- var categories = [{type: "產品設計"},{type: "插畫設計"},{type: "包裝設計"}]
				each category in categories
					.works.row.margin-b-50
						.work-block-wrap.col-12.col-sm-3.col-md-3
							.work-block-category
								.work-block-category-tag
								.work-block-category-p=category.type
								a(href="category-single.html").work-block-more 更多作品
						.work-block-slider-wrap.col-12.col-sm-8.col-md-8
							.work-block-slider.row
								- var works = [{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集畢業展作品集畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888", type: "video-work"},{image: "background-image: url('images/work2.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work2.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work2.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}]
									each work in works
										.work-block-wrap.margin-b-0.col-12.col-sm-6.col-md-4
											.work-block
												a.work-img(style=work.image, alt=work.alt, href="#", class=work.type)
												.work-info-box
													p.work-category
														a(href="#")=work.category
													p.work-student=work.student
													p.work-school
														a(href="#")=work.school
													p.work-count
														span.count-circle
														span=work.count
	include components/footer.pug