extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			index();
		});
block main-content
	.content
		.main-carousel
			include components/carousel.pug
		.content-block
			.works.row
				- var works = [{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work4.jpg')", alt: "work4", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work4.jpg')", alt: "work4", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"},{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work3.jpg')", alt: "work3", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}, {image: "background-image: url('images/work4.jpg')", alt: "work4", category: "畢業展作品集", student: "王大明", school: "國立臺灣師範大學設計學系", count: "8888"}]
					each work in works
						.work-block-wrap.col-12.col-sm-6.col-md-3
							.work-block
								a.work-img(style=work.image, alt=work.alt, href="#")
								.work-info-box
									p.work-category
										a(href="#")=work.category
									p.work-student=work.student
									p.work-school
										a(href="#")=work.school
									p.work-count
										span.count-circle
										span=work.count
	include components/footer.pug