extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			info();
		});
block main-content
	.content(page-tag="info")
		.banner-img.info-banner
			.banner-content
				.banner-content-left
					p.banner-title 產學情報
		.content-block
			.info.row
				- var works = [{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "台科、北科、雲科退出新一代設計展！ 3校聯合開個展", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "文化部A+創意季競賽 朝陽科大設計學院最大贏家", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"},{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "南台科大學生研發自動驅鳥器 勇奪A+創意大賽", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "2018 A+創意季參展爆炸 逾千件作品創新紀錄", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"},{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "台科、北科、雲科退出新一代設計展！ 3校聯合開個展", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "文化部A+創意季競賽 朝陽科大設計學院最大贏家", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"},{image: "background-image: url('images/work1.jpg')", alt: "work1", title: "南台科大學生研發自動驅鳥器 勇奪A+創意大賽", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", title: "2018 A+創意季參展爆炸 逾千件作品創新紀錄", info: "新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。"}]
					each work in works
						.info-block-wrap.col-12.col-md-3.theme-wrap
							.info-block
								a.info-img(style=work.image, alt=work.alt, href="#")
								.info-p-box
									p.info-title
										a(href="#")=work.title
									p.info-text
										a(href="#")=work.info
								a(href="#").info-more more
	include components/footer.pug