extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			infoSingle();
		});
block main-content
	.content(page-tag="info")
		.banner-img.about-banner
			.banner-content
				.banner-content-left
					p.banner-title 產學情報
		.content-block
			.about-block
				h2 台科、北科、雲科退出新一代設計展！　3校聯合開個展
				img(src="images/d3126320.jpg")
				p 「新一代設計展又開跑，但繼去年成大設計系宣布不參加之後，今年台科、北科、雲科也共有5系要退出，自己辦理「三校聯合展」；粉專剛成立2天就有近5千讚，還有許多學弟妹在底下表示「太有Guts！」「這個一定要支持的！」展場預計在華山文創園區開幕，歡迎大家一起來。
				p 聯合展出的5系包含台科大設計系、創意設計學士班、北科大互動設計系、創意設計學士班、雲科大數位媒體設計系，作品類別有產品類、空間類、影像類、互動類、平面類5種；預計的參展作品有180件，由264位參展者所設計，在5月26~29日展出4天。
				p 粉專表示，參展者來自3所不同的設計學院，各自擁有著不同「Tag」，但在複雜的設計網絡中，卻因為這場展覽讓彼此共有了同一個「Tag」，成了能夠「交流」與「合作」的夥伴，因此這次的展出名稱定為「Hashtag #___」，一種透過關鍵字連結來進行交流與表達的媒介。
				p 新一代設計展是全世界最大規模的學生設計展，也是許多新人能趁機跟業界交流、結交人脈的場合，但歷年來高額的場租費用、雜亂的動線安排，讓許多設計系學生卻步；學生們形容，「看展要門票，學生一毛都沒拿到還要繳錢，最後這份經歷也沒幫助找工作，這不是勒索嗎？」
				img(src="images/d608252.jpg")
				p 學生們表示，除了經費真的是「坑人」之外，新一代展期只有4天，展場卻有幾千件作品，「如果不爭奇鬥豔，根本不會有人看到你在哪！」但爭奇鬥豔的作品不見得有市場價值，讓學生花了大錢做賣不出去的東西，而學校又把新一代當成是畢業標準，根本是互相欺騙。
				p 雖然教育部在去年承諾，會跟經濟部跨部會合作，由政府全額支應場地租金，其他行政費用也會透過對各校補助來進行，但仍讓不少人萌生退意。「學生出錢出力出時間精神，不但沒有回本，功勞還是學校的，讓學校風光曝光、招攬學生，我們只能付錢為了畢業拿學分。」
				p 去年成大工業設計系就表示，「設計」一詞被廣泛運用在各個場域，但設計系的人卻很少出現在大眾眼前，希望呈現設計者本身的內涵、作品產生的影響，利用比較聚焦的展場模式，雖然看起來不那麼熱鬧，但卻更能給觀看者更親近的體驗。今年的3校聯合展也表示，他們連結了更多的Hashtag，「觀者能透過Tag找到作品背後的故事與意義，我們也透過Tag找到與大眾交流的連結！」
			.single-back
				a(href="javascript:history.back()").single-back-button 返回上一頁
	include components/footer.pug