extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			schoolAll();
		});
block main-content
	.content(page-tag="school")
		.banner-img.school-year-banner
		.content-block
			.schools-wrap
				.school-region
					.school-region-block
						.school-title
							span.school-title-area 北部
						.schools-block
							- var schools = [{name: "臺灣科技大學"},{name: "輔仁大學"},{name: "臺灣師範大學"},{name: "臺北科技大學"},{name: "實踐大學"},{name: "中原大學"},{name: "臺灣藝術大學"},{name: "銘傳大學"}]
									each school in schools
										a(href="#")=school.name
					.school-region-block
						.school-title
							span.school-title-area 中部
						.schools-block
							- var schools = [{name: "臺中科技大學"},{name: "南臺科技大學"},{name: "朝陽科技大學"},{name: "嶺東科技大學"},{name: "亞洲科技大學"},{name: "逢甲大學"},{name: "東海大學"}]
									each school in schools
										a(href="#")=school.name
					.school-region-block
						.school-title
							span.school-title-area 南部
						.schools-block
							- var schools = [{name: "雲林科技大學"},{name: "南臺應用科技大學"},{name: "樹德科技大學"},{name: "崑山科技大學"},{name: "成功大學"},{name: "嘉南藥理大學"},{name: "高雄大學"}]
									each school in schools
										a(href="#")=school.name
				// .school-trend
				// 	.school-title
				// 		span.school-title-area 熱門學校
				// 	- var schools = [{name: "臺灣科技大學"},{name: "亞洲大學"},{name: "成功大學"},{name: "臺灣藝術大學"},{name: "雲林科技大學"}]
				// 		each school in schools
				// 			.school-trend-block
				// 				p.school-trend-name=school.name
				// 				.school-trend-img-block
				// 					- var schoolImg = [{image: "background-image: url('../images/trend1.jpg')", alt: "1"},{image: "background-image: url('../images/trend2.jpg')", alt: "2"},{image: "background-image: url('../images/trend3.jpg')", alt: "3"}]
				// 						each img in schoolImg
				// 							a.school-trend-img(style=img.image, href="#")
	include components/footer.pug