extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			theme();
		});
block main-content
	.content(page-tag="theme")
		.theme-carousel
			include components/theme-carousel.pug
		.content-block
			.filter-wrap
				include components/filter.pug
			.works.row
				- var works = [{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "精選展1"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", category: "精選展2"},{image: "background-image: url('images/work1.jpg')", alt: "work1", category: "精選展3"}, {image: "background-image: url('images/work2.jpg')", alt: "work2", category: "精選展4"}]
					each work in works
						.work-block-wrap.col-12.col-md-3.theme-wrap
							.work-block
								a.work-img(style=work.image, alt=work.alt, href="#")
									span=work.category
	include components/footer.pug