extend layouts/index-layout.pug

block script
	script.
		$(document).ready(function(){
			workSingle();
		});
block main-content
	.content(page-tag="work")
		.work-single-info-block
			.work-title-info-block
				.work-title-p
					p 畢業展作品
				.work-title-view
					p.work-count
						span.count-circle
						span 88888
			.work-info-block
				.work-grid.author-grid
					p.work-grid-title 設計者
					p 王大明、劉小偉、王大明、劉小偉、王大明、劉小偉
				.work-grid
					p.work-grid-title 作品類型
					a(href="#") 包裝設計
				.work-grid
					p.work-grid-title 學校系所
					p 國立臺灣師範大學設計學系
				.work-grid
					p.work-grid-title 作品形式
					p 平面、立體
				.work-grid
					p.work-grid-title 指導老師
					p 林教授、王教授、張教授
				.work-grid.des-grid
					p.work-grid-title 作品簡介
					p 介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹
				.work-grid
					p.work-grid-title 上傳日期
					p 2018年08月20日
				.work-grid.note-grid
					p.work-grid-title 備註
					p 備註
				.work-grid.last-grid
					p.work-grid-title CC創用授權範圍
					img(src="images/cc.png")
				.work-grid
					p.work-grid-title 檔案下載
					a(href="images/single-work2.jpg" download="檔案名稱").work-grid-download 下載PDF
			.work-info-img
				video(controls)
					source(src="http://192.192.47.103/ntl/upload/collection/coll_MOV_2016614104757.mp4")
				img(src="images/single-work2.jpg")
				img(src="images/single-work3.jpg")
			.single-back
				a(href="javascript:history.back()").single-back-button 返回上一頁
	include components/footer.pug