.info {
	margin: 40px 0;
	padding: 0 1em;
	.info-block-wrap {
		overflow: hidden;
		position: relative;
		.info-block {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border: 1px solid $border;
			overflow: hidden;
			background: white;
			margin-bottom: 50px;
			position: relative;
			a {
				display: block;
				color: black;
				text-decoration: none;
				@include transition(all .3s);
				&:hover {
					color: $darkGrey;
				}
			}
			.info-img {
				width: 100%;
				padding-bottom: 100%;
				position: relative;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				&:after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0,0,0,.1);
					opacity: 0;
					@include transition(all .3s);
				}
				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
			.info-p-box {
				position: relative;
				padding: 10px 10px 20px 10px;
				p {
					color: black;
					line-height: 1.2;
					margin-bottom: 0;
				}
				.info-title {
					font-size: 1.5em;
					margin-bottom: 10px;
					line-height: 1.5;
				}
				.info-text {
					font-size: 1.125em;
					margin-bottom: 5px;
					line-height: 1.5;
					text-align: justify;
				}
			}
			.info-more {
				position: absolute;
				right: 10px;
				bottom: 10px;
			}
		}
	}
}