.school-title-wrap {
	width: 100%;
	padding: 0 8%;
	margin-top: 40px;
	.school-title {
		span {
			padding: 0 15px 0 0;
			font-size: 2em;
		}
		.school-title-divider {
			border-left: 1px solid black;
		}
		.school-title-name {
			font-size: 1.5em;
			color: $orange;
		}
	}
	.school-title-year {
		margin-top: 20px;
		span {
			font-size: 1.5em;
			padding-right: 5px;
			&:first-child {
				font-size: 2em;
				font-weight: $font-bold;
			}
		}
	}
}
.schools-wrap {
	display: flex;
	flex-wrap: wrap;
	@include for-640-up {
		flex-wrap: nowrap;
	}
	.school-region {
		@extend .school-title-wrap;
		width: 100%;
		padding: 0 1%;
		// @include for-640-up {
		// 	width: 60%;
		// }
		.school-region-block {
			margin-bottom: 50px;
			.school-title {
				margin: 0 10px 20px 10px;
			}
			.schools-block {
				display: flex;
				flex-wrap: wrap;
				a {
					background: white;
					text-decoration: none;
					padding: 15px 20px;
					border: 1px solid $border;
					font-size: 1.25em;
					color: black;
					margin: 10px;
					flex: 1 0 30%;
					text-align: center;
					@include radius(5px);
					@include transition(all .3s);
					&:hover {
						color: $orange;
						border-color: $orange;
					}
				}
				.is-empty {
					height: 0;
					margin: 0 10px;
					padding: 0;
					border: none;
				}
			}
		}
	}
	.school-trend {
		@extend .school-title-wrap;
		width: 100%;
		padding: 0 1%;
		@include for-640-up {
			width: 40%;
		}
		.school-title {
			margin: 0 10px 20px 0;
		}
		.school-trend-block {
			margin-bottom: 40px;
			.school-trend-name {
				font-size: 1.375em;
				padding-top: 5px;
			}
			.school-trend-img-block {
				display: flex;
				position: relative;
				.school-trend-img {
					flex: 1 0 30%;
					padding-bottom: 35%;
					background: center no-repeat;
					background-size: cover;
					position: relative;
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background: rgba(0,0,0,.3);
						opacity: 0;
						@include transition(all .3s);
					}
					&:hover {
						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}