.work-single-info-block {
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background: white;
	.work-title-info-block {
		max-width: 1440px;
		width: 100%;
		margin: 40px auto;
		padding: 0 1em;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.work-title-p {
			display: block;
			width: 100%;
			@include for-480-only {
				width: calc(100% - 70px);
				display: flex;
			}
			p {
				font-size: 2em;
				font-weight: $font-bold;
				margin-right: 40px;
				margin-bottom: 10px;
				@include for-480-only {
					margin-bottom: 0;
				}
			}
			a {
				min-width: 80px;
				align-self: center;
				font-size: 1.125em;
				text-decoration: none;
				color: black;
				display: inline-block;
				padding: 5px 10px;
				margin: 0 10px 0 0;
				@include radius(15px);
				@include transition(all .3s);
				@include for-480-only {
					margin: 0 5px;
				}
				&:hover {
					color: white;
				}
			}
			.blue-border {
				&:hover {
					background: $blue;
				}
			}
			.orange-border {
				&:hover {
					background: $orange;
				}
			}
		}
		.work-title-view {
			align-self: center;
			.work-count {
				position: relative;
				margin-bottom: 0;
				margin-top: 10px;
				margin-left: 20px;
				@include for-480-only {
					margin-top: 9;
				}
				.count-circle {
					width: 12px;
					height: 12px;
					position: absolute;
					left: -20px;
					top: 4px;
					background: #808080;
					@include radius(6px);
					&:after {
						content: '';
						display: block;
						width: 4px;
						height: 4px;
						@include radius(2px);
						background: white;
						position: absolute;
						top: 2px;
						left: 2px;
					}
					&:before {
						content: '';
						display: block;
						width: 16px;
						height: 16px;
						@include radius(8px);
						background: none;
						border: 1px solid #808080;
						position: absolute;
						top: -2px;
						left: -2px;
					}
				}
			}
		}
	}
	.work-info-block {
		max-width: 1440px;
		margin: auto;
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 0;
  		grid-template-rows: auto;
  		border-bottom: 1px solid $border;
  		padding-bottom: 40px;
  		@include for-640-up {
  			grid-template-columns: 48% 48%;
			grid-gap: 2%;
  		}
  		.work-grid {
  			margin: 1em;
  			border-top: 1px dashed $border;
  			padding-top: 10px;
  			&:first-child {
  				border-top: none;
  			}
  			&:nth-child(2) {
  				border-top: 1px dashed $border;
  				@include for-640-up {
		  			border-top: none;
		  		}
  			}
  			p, a {
  				font-size: 1.5em;
  				display: inline-block;
  				width: calc(100% - 120px);
  				vertical-align: top;
  				margin-bottom: 0;
  			}
  			a {
  				color: $blue;
  				@include transition(all .3s);
  				&:hover {
  					text-decoration: none;
  					color: lighten($blue, 30);
  				}
  			}
  			.work-grid-title {
  				width: 100px;
  				padding: 0 10px 0 0;
  				border-right: 1px solid black;
  				margin-right: 10px;
  				text-align: justify;
  				text-justify: inter-word;
				text-align-last:justify;
  			}
  			.work-grid-download {
  				padding-bottom: 15px;
  			}
  		}
  		.author-grid {
  			grid-column: auto;
  			grid-row: auto;
  			@include for-640-up {
	  			grid-column: 1;
  				grid-row: 1 / 3;
	  		}
  		}
  		.des-grid {
  			grid-column: auto;
  			grid-row: auto;
  			@include for-640-up {
	  			grid-column: 2;
  				grid-row: 3 / 5;
	  		}
  		}
  		.note-grid {
  			grid-column: auto;
  			grid-row: auto;
  			@include for-640-up {
	  			grid-column: 2;
  				grid-row: 5 / 7;
	  		}
  		}
  		.last-grid {
  			img {
  				width: 76px;
  			}
  			.work-grid-title {
  				width: 160px;
  			}
  		}
	}
	.work-info-img {
		margin-top: 40px;
		padding: 0 1em;
		img {
			margin: 5px 0;
			width: 100%;
		}
		video {
			width: 100%;
		}
	}
}