#index-carousel.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li(data-target="#index-carousel", data--slide-to="0", class="active")
		li(data-target="#index-carousel", data--slide-to="1", class="active")
		li(data-target="#index-carousel", data--slide-to="2", class="active")
	.carousel-inner
		- var carousel = [{image: "background-image: url('images/carousel1.jpg')", alt: "slide1", active: "active", infoYear: "2019", author: "作者", school: "中原大學商業設計系畢業展"}, { image: "background-image: url('images/carousel2.jpg')", alt: "slide2", infoYear: "2019", author: "作者", school: "中原大學商業設計系畢業展"}, {image: "background-image: url('images/carousel3.jpg')", alt: "slide3", infoYear: "2019", author: "作者", school: "中原大學商業設計系畢業展"}]
			each slide in carousel
				a.carousel-item(class=slide.active, href="#")
					.d-block.w-100(style=slide.image, alt=slide.alt)
						.carousel-info-wrap
							.carousel-info
								p.c-info-year=slide.school
								p.c-info-date=slide.author
	a.carousel-control-prev(href="#index-carousel", role="button", data-slide="prev")
		span.carousel-control-prev-icon(aria-hidden="true")
		span.sr-only Previous
	a.carousel-control-next(href="#index-carousel", role="button", data-slide="next")
		span.carousel-control-next-icon(aria-hidden="true")
		span.sr-only Next