.filter
	.filter-block
		p 年份
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 2018
				option 2017
	.filter-block
		p 學院
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 臺北科技大學
				option 實踐大學
				option 臺北科技大學
				option 實踐大學
	.filter-block
		p 系所
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 建築學系
				option 視覺傳達設計學系
	.filter-block
		p 作品類型
		.filter-dropdown
			select.multi-select(multiple="multiple")
				option 平面設計
				option 服裝設計
	.filter-submit
		button(type="submit") 確認