footer
	.footer-left
		p 國立公共資訊圖書館 版權所有 ©2018
		p 總館｜<a href="https://www.google.com.tw/maps/place/National+Library+of+Public+Information/@24.1270879,120.6683133,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d0146d61257:0x7a16000e8eb3abce!8m2!3d24.127083!4d120.670502" target="_blank">402 臺中市南區五權南路100號</a>
		p 電話｜<a href="tel:+8860422625100">04-2262-5100</a>
	.footer-right
		p 造訪人數｜ <span>999999999</span>人次