header
	.top-header
		.top-header-left
			a(href="index.html")
				img(src="images/logo.svg")
			a.mobile-logo(href="index.html")
				img(src="images/mobile-logo.svg")
		.top-header-right
			.top-header-search
				input(type="text", placeholder="關鍵字檢索")
				button(type="submit")
			.top-header-work-submit
				a(href="#") 作品上傳
		.mobile-menu-button
			span
			span
			span
	nav.header-menu
		ul
			li.mobile-search
				.mobile-header-search
					input(type="text", placeholder="關鍵字檢索")
					button(type="submit")
			li
				a(href="new-work.html", menu-tag="news") 作品新訊
			li
				a(href="theme.html", menu-tag="theme") 主題特展
			li
				a(href="school-all.html", menu-tag="school") 收錄系所
			li
				a(href="category.html", menu-tag="category") 作品類型
			li
				a(href="info.html", menu-tag="info") 產學情報
			li
				a(href="about.html", menu-tag="about") 關於我們
