#theme-carousel.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li(data-target="#theme-carousel", data--slide-to="0", class="active")
		li(data-target="#theme-carousel", data--slide-to="1", class="active")
		li(data-target="#theme-carousel", data--slide-to="2", class="active")
	.carousel-inner
		- var carousel = [{image: "background-image: url('images/carousel1.jpg')", alt: "slide1", active: "active", infoYear: "2019 01/01-03/31", tag1: "#流行", tag2: "#生活", title: "年度精選", subTitle: "包裝設計特展"},{image: "background-image: url('images/carousel1.jpg')", alt: "slide1", infoYear: "2020 01/01-03/31", tag1: "#插畫", tag2: "#藝術", title: "年度精選", subTitle: "包裝設計特展"},{image: "background-image: url('images/carousel1.jpg')", alt: "slide1", infoYear: "2021 01/01-03/31", tag1: "#文化", tag2: "#設計", title: "年度精選", subTitle: "包裝設計特展"}]
			each slide in carousel
				.carousel-item(class=slide.active)
					.d-block.w-100(style=slide.image, alt=slide.alt)
						.carousel-info-wrap
							.carousel-info
								p.c-info-title=slide.title
								p.c-info-title=slide.subTitle
							.carousel-info-no-bg
								span.c-info-year=slide.infoYear
	a.carousel-control-prev(href="#theme-carousel", role="button", data-slide="prev")
		span.carousel-control-prev-icon(aria-hidden="true")
		span.sr-only Previous
	a.carousel-control-next(href="#theme-carousel", role="button", data-slide="next")
		span.carousel-control-next-icon(aria-hidden="true")
		span.sr-only Next